{
  margin: 0;
  padding: 0;
}
  .wrapper {
    widht: 1170px;
    margin: auto;
  }

.h2{
  -webkit text-strok: 1px white;
}
.home{
  background: url("Foto.jpeg");
  background-size: cover;
}

  p.ridge{
  border-style: groove;}
.nav-area{
  float: center;
  list-style: none;
  margin-top: 60px
}

.nav-area li{
display: inline-block;
}
.nav-area li a{

}
.nav-area li a:hover{
  background: #fff;
  color: #333;
}
.logo img{
  widht: 100px;
  float: left;

}
.welcome-text{
  position: absolute;
  width: 800px;
  height: 100px;
  margin: 10% 30%;
  text-align: center;
}
.welcome-text h1{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
}
.welcome-text a{
  color: #fff;
  text-decoration: uppercase;
  padding: 5px 20px;
  font-family:poppins;
  font-size: 16px;
  border: 1px solid #fff;
}

.welcome-text a:hover{
  background: #fff;
  color: #333;
}

.dropbtn{
display: inline-block;
}
.dropbtn{
  border: 1px solid #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
}
.dropbtn a{
  text-decoration: none;
  padding: 5px 20px;
  font-family:poppins;
  font-size: 16px;
}
.dropbtn a:hover{
  background: #fff;
  color: #333;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  text-decoration: none;

  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
border: 1px solid #fff;
}
.dropdown-content a:hover{
  background: #fff;
  color: #333;
}

.dropdown-content a:hover {background-color: #fff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #;}
{
  margin: 0;
  padding: 0;
}
  .wrapper {
    widht: 1170px;
    margin: auto;
  }



.chinesemountains{
  background: url("Chinesemountains.jpeg");
  background-size: cover;
}
.StoneforestMadagascar{
  background: url("Stoneforest.jpeg");
  background-size: cover;
}
.Rainbowmauntains{
  background: url("rainbow.jpeg");
  background-size: cover;
}

.Mauritius{
  background: url("Mauritius.jpeg");
  background-size: cover;
}

.GreatBarrierReef{
  background: url("Greatbarrier.jpeg");
  background-size: cover;
}

.Bolivia{
  background: url("Bolivia.jpeg");
  background-size: cover;
}

.Yellowstone{
  background: url("Yellow.jpeg");
  background-size: cover;
}

.Halongbai{
  background: url("Ha.jpeg");
  background-size: cover;
}

.Niagra{
  background: url("Niagra.jpeg");
  background-size: cover;
}

.GrandCanyon{
  background: url("Grand.jpeg");
  background-size: cover;
}

.Chocolatehills{
  background: url("Chocolate.jpeg");
  background-size: cover;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
h1{
  text-align: center;
}
h2{
font color: #fff;

 text-align: inherit;
  text-decoration-color: white;

}
